@charset "UTF-8";

/*header*/
/* a{text-decoration:none; color:#2c3e50;}
li{list-style:none; color:#2c3e50;}
ul{display: flex;align-items: baseline;}
.lmi{;font-size: 40px; font-weight: bold; margin-right: 30px;color:#2980B9;}
.home{font-size: 34px; font-weight: bold;margin-right: 10px;}
.home:hover{font-size: 34px; font-weight: bold;margin-right: 10px;color:#2980B9;}
.admin_user{font-size: 30px; font-weight: bold;margin-right: 10px;}
.admin_user:hover{font-size: 30px; font-weight: bold;margin-right: 10px; color:#116554;}
.admin_notice{font-size: 30px; font-weight: bold;margin-right: 10px;}
.admin_notice:hover{font-size: 30px; font-weight: bold;margin-right: 10px; color:#f1c40f;}
.admin_mission{font-size: 30px; font-weight: bold;margin-right: 10px;}
.admin_mission:hover{font-size: 30px; font-weight: bold;margin-right: 10px; color:#7c3d96;}
.admin_report{font-size: 30px; font-weight: bold; margin-right: 300px;}
.admin_report:hover{font-size: 30px; font-weight: bold; margin-right: 300px; color:#c0392b;}
.users_p{ display: inline;font-weight: bold; font-size: 30px;}
.admin_users{margin-right:20px;}
.admin_logout{font-size: 20px;}
 */
a{ text-decoration: none;}
li{list-style:none; color:#2c3e50; display:inline-block;    }
ul{align-items: baseline; }
.lmi{;font-size: 40px; font-weight: bold; margin-right: 30px;color:#2980B9;}
.home{font-size: 34px; font-weight: bold;margin-right: 10px;color: rgb(44, 62, 80);}
.home:hover{font-size: 34px; font-weight: bold;margin-right: 10px;color:#2980B9;}
.admin_user{font-size: 30px; font-weight: bold;margin-right: 10px;float: none; color: rgb(44, 62, 80);}
.admin_user:hover{font-size: 30px; font-weight: bold;margin-right: 10px; color:#116554;}
.admin_notice{font-size: 30px; font-weight: bold;margin-right: 10px;color: rgb(44, 62, 80);}
.admin_notice:hover{font-size: 30px; font-weight: bold;margin-right: 10px; color:#f1c40f;}
.admin_mission{font-size: 30px; font-weight: bold;margin-right: 10px;color: rgb(44, 62, 80);}
.admin_mission:hover{font-size: 30px; font-weight: bold;margin-right: 10px; color:#7c3d96;}
.admin_report{font-size: 30px; font-weight: bold; margin-right: 300px;color: rgb(44, 62, 80);}
.admin_report:hover{font-size: 30px; font-weight: bold; margin-right: 300px; color:#c0392b;}
.users_p{ display: inline;font-weight: bold; font-size: 30px;}
.admin_users{margin-right:20px;}
.admin_logout{font-size: 20px;}
           