@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
*{ margin:0; padding:0; font-family:'Noto Sans KR', sans-serif;}


#talkViewDiv{
	/* 전체영역 */
	width:1300px;
	height: 770px;
	margin-top:15px;
	margin-left: auto;
	margin-right: auto;/* 
	border: 1px solid black; */
}

#talkForm_Div{
	/* 왼쪽 채팅영역 */
	width: 73%;
	height: 100%;
	display: inline-block;
/* 	background-color:rgb(250, 248, 249); */
	 		background-color:rgb(250, 248, 249);
	 border: 1px solid pink;
	/* border: 1px solid rgb(250, 220, 220); */
	
}
#talkForm_Div #talkTitle{
	/* 	채팅타이틀 div */
	width: 100%;
	height: 5%;
	background-color:#fff;
	/* border: 1px solid rgb(250, 220, 220); */
	text-align: center;
	align: center;
 	 border: 0px solid pink;
 	 border-bottom: 1px solid pink;
	padding:0px;
	position: relative;
}
#talkForm_Div #talkTitle p{
	font-size: 1.2em;
	font-weight: bold;
	align: center;
	color: #656565;
	text-align: center;
	margin-top:7px;	
}

#talkForm_Div #talkText{
	/* 	채팅내용 보이는 div */
	width: 100%;
	height: 76%;
	/* background-color:rgb(250, 248, 249); */
	/* background-color:#F8F8F8;
		border: 1px solid rgb(250, 220, 220); */
	 		background-color:rgb(250, 248, 249);
	 border: 0px solid pink;
}

#talkForm_Div #talkText #talkTextArea{
	margin:0px;
	padding:0px;
	width: 100%;
	height: 100%;
	display : block;
	overflow:scroll;
	 		background-color:rgb(250, 248, 249);
	 border: 0px solid pink;
 	/* background-color:rgb(250, 248, 249); 
	background-color:#F8F8F8 ;
		border: 1px solid rgb(250, 220, 220); */
}
#talkForm_Div #talkInput{
/* 	채팅입력 div */
	width: 100%;
	height: 12%;
	background-color:#fff;


	/* border: 1px solid rgb(250, 220, 220); */
		margin: 0px;
	padding: 0px;
}

#talkForm_Div #talkInput #textInput{
	width: 85%;
	height: 100%;
		border: 1px solid blue;
		margin: 0px;
	padding: 0px;
}

#talkForm_Div #talkInput #inputBtn{
	width: 14.4%;
	height: 100%;
	border: 1px solid red;
	position: relative;
	top: -42px;
	left: -0px;
	margin: 0px;
	padding: 0px;
}

#talkForm_Div #talkMission{
	/* 	미션이미지, 미션글자, 신고이미지 div */
	width: 100%;
	height: 6%;
	background-color:rgb(250, 248, 249);
		border: 1px solid rgb(250, 220, 220);

}

#talkForm_Div #talkMission #mission_1{
	/* 	미션 이미지 div */
	width: 36px;
	height: 32px;
	display: inline-block;
	position: relative;
	top: 2px;

	left:6px;
	padding:0px;
}
#talkForm_Div #talkMission #mission_1 img{
			/* 	미션 이미지 크기 채우기 */
	margin: 0px;
	padding: 0px;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	cursor:pointer;
	}	
#talkForm_Div #talkMission #mission_2{
			/* 	미션 글자 div-네모모양 */
	width: 89%;
	height: 32px;
	display: inline-block;
	position: relative;
	top:-5px;
	left:5px;
    border-radius: 5px;
    padding: 0;
    background-color: rgb(250, 220, 220);
        margin:0px;
	cursor:pointer;
/*      	   border: 1px solid black;  */
}
#talkForm_Div #talkMission #mission_2:hover{
	background-color:rgb(250, 248, 249);
		border: 1px solid rgb(250, 220, 220);
}
#talkForm_Div #talkMission #mission_2::after{
		/* 	미션 글자 div -화살표모양 */
	    content: "";
    position: absolute;
    cursor:pointer;
    top: 28%;
    right: 100%;/* 
    margin-top: -5px;
 */    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(250, 220, 220) transparent transparent;
}


#talkForm_Div #talkMission #mission_2 p{
	/* 	미션 글자 div p */
	margin:0px;
	padding: 2px;
	    text-align: center;
	/*     border: 1px solid black; */
}	
#talkForm_Div #talkMission	#report_1{
/* 	신고 이미지 div */
	width: 36px;
	height: 32px;
	display: inline-block;
	position: relative;
	top: 2px;
	cursor:pointer;
	left:15px;
	padding:0px;
}
#talkForm_Div #talkMission	#report_1 img{
		/* //신고 이미지 크기 채우기 */
	margin: 0px;
	padding: 0px;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-radius: 2px;

}


/* 오른쪽 프로필div css */

#profile_Div{
	/* 프로필영역 */
	width: 26%;
	height: 100%;
	display: inline-block;
	position: relative;
	/* top: -50px; */
	/* background-color:#F8F8F8;
 	background-color:rgb(250, 220, 220); */
 		background-color:rgb(250, 248, 249);
	 border: 1px solid pink;
	/* border: 1px solid rgb(250, 220, 220); */

	top: -3.5%;
}

#profile_Div #profile_img{
	/* 프로필영역 _이미지div */
	width: 100%;
	height: 28%;
	position: relative;
	/* border: 1px solid red; */
}
#profile_Div #profile_img img{
		margin-top: 6%;
		margin-bottom: 0%;
		margin-right: 8%;
		margin-left: 10%;
	padding: 0px;
	position: absolute;
	top:0;
	left:0;
	width:80%;
	height:97%;
	border-radius:3px;
/* 
	border: 1px solid black; 	 */
}
#profile_Div #profile_text{
	/* 프로필영역 _텍스트div */
/* 	border: 1px solid black; */
	width: 100%;
	height: 24%;
	position: relative;
}
#profile_Div #profile_text p{ 
	color: #757575;
	/* border: 1px solid red; */
}
/* 글자 이동 */
#pname{
	/*  display: inline-block; */
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 5px;
	padding:0px;
	position: relative;
/* 	top: 15px; */

}
#page{
	display: inline-block;
	font-size: 1.3em;
	padding: 0px;
/* 	position: relative;
	left: 30px; */
	/* top: 15px; */
	/* width: 73%; */
		margin-top:  3%;
	margin-bottom:  1%;
}
#pjob{
	display: inline-block;
		margin-right:5%;
	margin-left:22%;
	margin-top:  3%;
	margin-bottom:  1%;

	font-size: 1.3em;
	padding: 0px;
	/* top: 22px; */
}
#psch{
	display: inline-block;
	font-size: 1.3em;
	margin-right:24%;
	margin-left:22%;
	margin-top:  1%;
	margin-bottom:  1%;
	/* top: 22px; */
	padding: 0px;
}
#pad{
	display: inline-block;
	font-size: 1.3em;
	padding: 0px;
	margin-right:24%;
	margin-left:22%;
	margin-top:  1%;
	margin-bottom:  3%;
	 	/* position: relative; */
	/* top: 29px  */
}
#profile_Div #profile_feed{
	/* 프로필영역_ 피드div */
	cursor:pointer;
	width: 90%;
	height: 35%;
	position: relative;
	border: 1px solid rgb(250, 220, 220);
	border-radius: 3px;
	background-color: rgb(250, 248, 249);
	margin: 5%;
		margin-top:  2%;
		margin-bottom:  2%;
}

#profile_Div #profile_feed:hover{
	box-shadow: 1px 1px 5px gray;
}

#profile_Div #profile_feed #profile_feed_title{
	/* 프로필영역_ 피드div_피드제목div */
	width: 80%;
	height: 11%;
	/* border: 1px solid green; */
		margin: 10%;
		margin-top: 5%;
		margin-bottom: 5%;
		text-align: center;
		align: center;
		padding: auto;
}
#profile_Div #profile_feed #profile_feed_title p{
	font-size: 1.3em;
	font-weight : bold;
	color: #858585;
	align: center;
	text-align: center;
/* 	border: 1px solid red; */
	margin: 0px;
}
#profile_Div #profile_feed #profile_feed_img{
		/* 프로필영역_ 피드div_피드사진div */
	width: 90%;
	height: 70%;
/* 	border: 1px solid black; */
	margin: 5%;
	display: inline-block;
	position: relative;
	margin-top: 2%;
	margin-bottom: 2%;
}

#profile_Div #profile_feed #profile_feed_img p{
	/* 프로필영역_ 피드div_피드사진div */
	text-align: center;
	font-size : 1.0em;

	color: #656565;	
}
		

#profile_Div #profile_feed #profile_feed_img img{
/* 	이미지 채우기 */
	margin: 0px;
	padding: 0px;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#profile_Div #profile_mList{
	/* 프로필영역 _미션리스트버튼 div*/
	width: 100%;
	height: 8%;
	/* margin-top : -5%; */
	/* border: 1px solid green;
 */
}

#profile_Div #profile_mList #mListBt{
	position: relative;
	top:22%;
	left: 10%;
	width: 80%;
	height:40px;
	margin:0px;
	padding:3%;
	border: 1px solid rgb(250, 220, 220);
	border-radius: 5px;
	background-color: rgb(250, 220, 220);
}
#profile_Div #profile_mList #mListBt:hover{
	background-color:rgb(250, 248, 249);
	border: 1px solid rgb(250, 220, 220);
}

/* 모달 div css */

.modal{
	/* 미션모달배경 임시변경*/
	/* display: none; */ 
	position: fixed;
	z-index: 1;

	left:0px;
	top:0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);	
    /* visibility: hidden;  */
/*     transform: scale(1.1);  */
/*     transition: visibility 0s linear 0.25s, 
    opacity 0.25s 0s, transform 0.25s;  */
}
#mModal_con{
	
	/* 미션모달내용 */
	position: absolute; 
    top: 20%; 
    left: 50%;  
    width: 28%; 
/*     height: 45%; */ 
    border: 1px solid #888;
    border-radius: 0.5rem; 
 	background-color: rgb(250, 220, 220);
    margin: 15% auto; /* 15% from the top and centered */
    transform: translate(-50%, -50%); 
    padding: 1rem 1.5rem;    
}
#mModal_con #mM_con_title{
		/* 미션모달내용_제목 */
		width: 92%;
		height: 14%;
		position: relative;
		display: inline-block;
		/* border: 1px solid red; */
		
}
#mModal_con #mM_con_title p{
		margin: 0px;
		padding:0px;
		text-align: center;
		padding-left:13%;
		font-size: 2em;
		font-weight: bold;
		color: rgb(230, 76, 117);
		/* border: 1px solid black; */
		
}
#mModal_con #mM_con_close{
		/* 미션모달내용_닫기버튼 */
		display: inline-block;
		margin: 0px;
		padding:0px;
		width: 5%;
		height: 10%;
		position: relative;
		/* border: 1px solid blue; */
		font-size: 2.3em;
		font-weight: bold;
}
#mModal_con #mM_con_close:hover{
	color: #999;
}
/* .modal #mModal_con #mM_con_close .close-button{
	미션모달내용_닫기버튼 x
	position: relative;
	width: 30px;
	height: 10px;
	font-size: 1.7em;
	border: 1px solid black;
} */

#mModal_con #mM_con_text{
		/* 미션모달내용_텍스트 */
		margin: 0px;
		padding:0px;
		width: 100%;
		height: 10%;
		position: relative;
		display: inline-block;
		/* border: 1px solid black;		 */
}
#mModal_con #mM_con_text p{
		margin: 0px;
		padding:0px;
		text-align: center;
		font-weight: bold;
		/* border: 1px solid green; */
}
/* #mModal_con #mM_con_upload{
		미션모달내용_사진업로드 전체 div
		margin: 0px;
		padding:0px;
		width: 100%;
		height: 70%;
		position: relative;
		border: 1px solid blue;
}
#mModal_con #mM_con_upload img{
	파일 이미지 미리보기 img 
		width: 65%;
		height: 80%;
		margin-top:5%;
		margin-left:30%;
} */

/* filebox(미션파일업로드 div) */
#dropP{
	align: center;
	text-align: center;
}
#drop{
	/* border:1px solid gray;  */
	width:510px; 
	height:300px; 
	padding:3px;
	text-align: center;
	align: center;
/* 	color:; */
	outline: 2px dashed #92b0b3 ;
    outline-offset:-10px;  
    text-align: center;
   transition: all .15s ease-in-out; 
 /*    width: 300px;
    height: 300px; */
   /*  background-color: gray; */
}

.filebox label { 
	display: inline-block; 
	padding: .4em .75em; 
	color: #999; 
	font-size: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #fdfdfd; 
	cursor: pointer; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em; 
	/* margin-left: 20%; */
	margin-top: 2%; 
	margin-bottom: 2%; 
} 
	
.filebox input[type="file"] { 
/* 파일업로드 필드 숨기기 */
 position: absolute; 
 width: 1px; 
 height: 1px; 
 padding: 0; 
 margin: -1px; 
 overflow: hidden; 
 clip:rect(0,0,0,0); 
 border: 0; }

.filebox .msupload_name { 
	display: inline-block; 
	padding: .4em .75em; /* label의 패딩값과 일치 */ 
	font-size: inherit; 
	font-family: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #f5f5f5; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em; 
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	-moz-appearance: none; 
	appearance: none; 
	margin-left: 20%; 
	margin-top: 2%; 
	margin-bottom: 2%; 
}
/* 파일이미지 */
/* imaged preview */ 
.filebox .upload-display { 
	/* 이미지가 표시될 지역 */ 
	margin-bottom: 3px; 
} 
@media(min-width: 768px) { 
	.filebox .upload-display 
		{ 
		display: block; 
		margin-right: 5px; 
		margin-bottom: 0; 
		margin-left:21%;
		} 
} 
.filebox .upload-thumb-wrap { 
	/* 추가될 이미지를 감싸는 요소 */ 
	display: block; 
	width: 280px; 
	height: 280px;
	padding: 1px; 
	vertical-align: middle; 
	border: 1px solid #ddd; 
	border-radius: 5px; 
	background-color: #fff; 
} 
.filebox .upload-display img { 
/* 추가될 이미지 */ 
display: block; 
position: absolute;
/* 	top:0;
	left:0; */
/* max-width: 100%;  */
width:280px;
	/* height:100%; */
/* width: 100% \9;  */
height: 280px;
margin: 0px;
padding: 0px;
}

.filebox input[type="submit"] { 
/* 파일 필드 숨기기 */
display: block; 
	padding: .4em 3.5em; 
	color: #fdfdfd;
	/* #999;  */
	font-size: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: rgb(230, 76, 117);
	/* #fdfdfd;  */
	cursor: pointer; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em; 
	margin-left: 35%; 
	margin-top: 1%; 
	margin-bottom: 2%; 
	
/*  position: absolute; 
 width: 1px; 
 height: 1px; 
 padding: 0; 
 margin: -1px; 
 overflow: hidden; 
 clip:rect(0,0,0,0); 
 border: 0;  */
 }	
 